h1, h2, p, ul, button, input, label, .custom-select, .footer-one, .footer-two {
	font-family: "Avenir", "Segoe UI", Arial, sans-serif;
}

h1 {
	font-size: 10vw;
}

h2 {
	font-size: 3vw;
}
p {
	font-size: 2vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #583285;

    font-size: 2vw;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active), .dropdown:hover .dropbtn {
    background-color: #280038;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #583285;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #9d00e4;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.first-home-image {
    background-image: url("NYU_Brooklyn_Bus.png");
    background-repeat: no-repeat;
    
    display: block;

    border: 0;

    margin: 0;
    padding: 0;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    height: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;

    background-position: contain;
    position: relative;
}

.first-home-image-text {
    line-height: 0.8;
    text-align: center;

    position: absolute;
    top: 42%;
    left: 3.6%;

    color: white;
}

.first-home-image-text h1 {
	font-size: 3.2vw;
}

.first-home-image-text h2 {
	font-size: 1.6vw;
}

.first-home-image-text a {
	color: #000000;
	text-decoration: none;
}

.first-home-image-text button {
    display: inline-block;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.first-home-image-text button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.first-home-image-text button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.first-home-image-text button:hover span {
    padding-right: 25px;
}

.first-home-image-text button:hover span:after {
    opacity: 1;
    right: 0;
}

.second-home-image {
    background-image: url("Data_ABCEFG_on_Map.png");
    background-repeat: no-repeat;
    
    display: block;

    border: 0;

    margin: 0;
    padding: 0;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    height: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;

    background-position: contain;
    position: relative;
}

.second-home-image-form {
    position: absolute;
    top: 1%;
    left: 3%;

    border-radius: 25px;
    padding: 25px;

    width: 48vw;
    height: 91vh;

    background: #FFFFFF;
    opacity: 0.8;
}

.second-home-image-form p {
    font-size: 1.5vw;
}

.second-home-image-form h1 {
    font-size: 1.5vw;
    margin-top: 6px;
    margin-bottom: 6px;
    float: middle;
}

.second-home-image-form label {
    font-size: 1.7vw;
	padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-7 {
    float: left;
    width: 7%;
    margin-top: 6px;
}

.col-18 {
    float: left;
    width: 18%;
    margin-top: 6px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-87 {
    float: left;
    width: 87%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/*the container must be positioned relative:*/
.custom-select {
	position: relative;
	font-size: 1.5vw;
}
.custom-select select {
	display: none; /*hide original SELECT element:*/
}
.select-selected {
	background-color: #FFFFFF;
	opacity: 0.8;
}
/*style the arrow inside the select element:*/
.select-selected:after {
	position: absolute;
	content: "";
	top: 20px;
	right: 10px;
	width: 0;
	height: 0;
	border: 6px solid transparent;
	border-color: #000000 transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
	border-color: transparent transparent #000000 transparent;
	top: 10px;
}
/*style the items (options), including the selected item:*/
.select-items div {
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: #333;
	cursor: pointer;
	user-select: none;
	color: #FFFFFF;
}
/*style the items (options), including the selected item:*/
.select-selected {
	padding: 8px 16px;
	border: 1px solid transparent;
	border-color: #333;
	cursor: pointer;
	user-select: none;
	color: black;
}
/*style items (options):*/
.select-items {
	position: absolute;
	background-color: #333;
	top: 100%;
	left: 0;
	right: 0;
	z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
	display: none;
}
.select-items div:hover, .same-as-selected {
	background-color: rgba(0, 0, 0, 0.1);
}

.second-home-image-form button, .second-home-image-form input[type=submit] {
	font-size: 1.5vw;

	float: right;
	background-color: #333;

    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
}

/* The container */
.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #333;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #333;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.first-login-image {
    background-image: url("NYU_White_Bus-Passenger.png");
    background-repeat: no-repeat;
    
    display: block;

    border: 0;

    margin: 0;
    padding: 0;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    height: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;

    background-position: contain;
    position: relative;
}

.first-login-image-form-one {
    position: absolute;
    top: 1%;
    left: 3%;

    border-radius: 25px;
    padding: 25px;

    width: 40vw;
    height: 91vh;

    background: #FFFFFF;
    opacity: 0.9;
}

.first-login-image-form-one p {
    font-size: 1.5vw;
}

.first-login-image-form-one h1 {
    font-size: 3vw;
    margin-top: 6px;
    margin-bottom: 6px;
    float: middle;
}

.first-login-image-form-one button , .first-login-image-form-one input[type=submit] {
	font-size: 1.5vw;

	float: right;
	background-color: #333;

    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
}

.first-login-image-form-two {
    position: absolute;
    top: 1%;
    right: 3%;

    border-radius: 25px;
    padding: 25px;

    width: 40vw;
    height: 91vh;

    background: #FFFFFF;
    opacity: 0.9;
}

.first-login-image-form-two p {
    font-size: 1.5vw;
}

.first-login-image-form-two a {
	color: black;
	text-decoration: none;
}

.first-login-image-form-two a:hover {
	text-decoration: underline;
}

.first-login-image-form-two h1 {
    font-size: 3vw;
    margin-top: 6px;
    margin-bottom: 6px;
    float: middle;
}

.first-login-image-form-two button, .first-login-image-form-two input[type=submit] {
	font-size: 1.5vw;

	float: right;
	background-color: #333;

    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
}

.first-reset-image {
    background-image: url("NYU_White_Bus-Passenger.png");
    background-repeat: no-repeat;
    
    display: block;

    border: 0;

    margin: 0;
    padding: 0;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    height: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;

    background-position: contain;
    position: relative;
}

.first-reset-image-form {
    position: absolute;
    top: 1%;
    left: 27%;

    border-radius: 25px;
    padding: 25px;

    width: 40vw;
    height: 91vh;

    background: #FFFFFF;
    opacity: 0.9;
}

.first-reset-image-form p {
    font-size: 1.5vw;
}

.first-reset-image-form h1 {
    font-size: 3vw;
    margin-top: 6px;
    margin-bottom: 6px;
    float: middle;
}

.first-reset-image-form button , .first-reset-image-form input[type=submit]{
	font-size: 1.5vw;

	float: right;
	background-color: #333;

    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
}

.first-reset-image {
    background-image: url("NYU_White_Bus-Passenger.png");
    background-repeat: no-repeat;
    
    display: block;

    border: 0;

    margin: 0;
    padding: 0;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    height: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;

    background-position: contain;
    position: relative;
}

.first-request-image-form {
    position: absolute;
    top: 1%;
    left: 27%;

    border-radius: 25px;
    padding: 25px;

    width: 40vw;
    height: 91vh;

    background: #FFFFFF;
    opacity: 0.9;
}

.first-request-image-form p {
    font-size: 1.5vw;
}

.first-request-image-form h1 {
    font-size: 3vw;
    margin-top: 6px;
    margin-bottom: 6px;
    float: middle;
}

.first-request-image-form button {
	font-size: 1.5vw;

	float: right;
	background-color: #333;

    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
}

input[type=text], input[type=time], input[type=number], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    font-size: 1.5vw;
}

input[type=text]:focus {
    border: 3px solid #555;
}


.first-logout-image {
    background-image: url("NYU_White_Bus-Driver.png");
    background-repeat: no-repeat;
    
    display: block;

    border: 0;

    margin: 0;
    padding: 0;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    height: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;

    background-position: contain;
    position: relative;
}

.first-logout-image-text {
    line-height: 1.8;
    text-align: center;

    position: absolute;
    top: 34%;
    left: 3.6%;

    color: white;
}

.first-logout-image-text h1 {
	font-size: 3.2vw;
}

.first-logout-image-text h2 {
	font-size: 2.2vw;
}

.first-error-404-image {
    background-image: url("NYU_White_Bus-Not_in_Service.png");
    background-repeat: no-repeat;
    
    display: block;

    border: 0;

    margin: 0;
    padding: 0;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    height: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;

    background-position: contain;
    position: relative;
}

.first-error-404-image-text {
    line-height: 1;
    text-align: center;

    position: absolute;
    top: 36%;
    left: 3.6%;

    color: white;
}

.first-error-404-image-text h1 {
	font-size: 3.2vw;
}

.first-error-404-image-text h2 {
	font-size: 2.2vw;
}

.footer-one {
	left: 0;
	bottom: 0;
	width: 100%;

	margin: 0;
	padding: 0;

	overflow: hidden;
	background-color: #583285;

	font-size: 2vw;

	float: left;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}

.main-container {
	float: left;
	position: relative;
	left: 50%;
}

.fixer-container {
	float: left;
	position: relative;
	left: -50%;
}

.footer-two {
	left: 0;
	bottom: 0;
	width: 100%;

	margin: 0;
	padding: 0;

	overflow: hidden;
	background-color: #583285;

	font-size: 2vw;

	float: left;
	display: block;
	color: white;
	text-align: center;
	text-decoration: none;
}