h1, h2, p, ul, ol, button, input, label, .custom-select, .footer-one, .footer-two, .link-button {
    font-family: "Avenir", "Segoe UI", Arial, sans-serif;
}

h1 {
    font-size: 10vw;
}

h2 {
    font-size: 3vw;
}
p {
    font-size: 2vw;
}

.navbar, .footer-one ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #583285;
    
    font-size: 2vw;
}

.navbar li, .footer-one li {
    float: left;
}

.navbar li a, .footer-one li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover:not(.active), .footer-one li a:hover:not(.active), .dropdown:hover .dropbtn {
    background-color: #280038;
}

.navbar li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #583285;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.active {
    background-color: #9d00e4;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.first-home-image {
    background: #000 url("NYU_Brooklyn_Bus.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    display: block;
    
    border: 0;
    
    margin: 0;
    padding: 0;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    max-width: 100%;
    height: 100%;
    
    position: relative;
}

.first-home-image-text {
    line-height: 0.8;
    text-align: center;
    
    position: absolute;
    top: 42%;
    left: 3.6%;
    
    color: white;
}

.first-home-image-text h1 {
    font-size: 3.2vw;
}

.first-home-image-text h2 {
    font-size: 1.6vw;
}

.first-home-image-text a {
    color: #000000;
    text-decoration: none;
}

.first-home-image-text button {
    display: inline-block;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.first-home-image-text button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.first-home-image-text button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.first-home-image-text button:hover span {
    padding-right: 25px;
}

.first-home-image-text button:hover span:after {
    opacity: 1;
    right: 0;
}

.second-home-image, .first-departures-image {
    background-image: url("Data_ABCEFG_on_Map.png");
    background-repeat: no-repeat;
}

.form-section {
    display: block;
    
    border: 0;
    
    margin: 0;
    padding: 0;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    max-width: 100%;
    min-height: 100%;
    
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    
    background-position: contain;
    position: relative;
    transition: 0.5s;
}

.form-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 35px;
    margin: 0 0 10px;
    width: auto;
    transition: 0.5s;
    display: inline-block;
    vertical-align: top;
}

@media screen and (min-width: 780px) {
    .form-container {
        margin: 10px;
        padding: 25px;
        border-radius: 25px;
        width: 700px;
    }
}

@media screen and (min-width: 790px) {
    .form-container {
        margin-right: 10px;
    }
}

.form-container * {
    font-size: 14pt;
}

.form-container h1 {
    padding-top: 12px;
    font-size: 16pt;
    margin-top: 6px;
    margin-bottom: 6px;
    text-align: center;
    font-style: italic;
    border-top: 1px inset;
}

.form-table {
    display: table;
}

.form-table > * {
    display: table-row;
}

.form-table > * > * {
    display: table-cell;
    padding: 0 4px;
}

.form-table > * > :first-child {
    padding-left: 0;
}

.form-table > * > :last-child, .form-table > * > :last-child > * {
    width: 100%;
    padding-right: 0;
}

.form-actions {
    text-align: right;
    margin-right: -4px;
}

.form-sentence {
    display: block;
}

.form-sentence > *, .form-sentence-word {
    display: inline-block;
    margin-right: 8px;
}

.form-sentence-word > * {
    display: inline-block;
}

/*the container must be positioned relative:*/
.custom-select {
    position: relative;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
.select-selected {
    background-color: #FFFFFF;
    opacity: 0.8;
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 50%;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #000000 transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #000000 transparent;
    margin-top: -8px;
}
/*style the items (options), including the selected item:*/
.select-items div {
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: #333;
    cursor: pointer;
    user-select: none;
    color: #FFFFFF;
}
/*style the items (options), including the selected item:*/
.select-selected {
    cursor: pointer;
    user-select: none;
    color: black;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: #333;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}
.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

.form-container button, .form-container input[type=submit], .form-container .link-button {
    background-color: #333;
    
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
}

/* The container */
.container {
    position: relative;
    margin-bottom: 12px;
    min-width: 25px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container > input {
    display: none;
}

.container, .container + label, .container > .checkmark + *, .container + span > label {
    cursor: pointer;
}

.container > .checkmark + * {
    margin-left: 32px;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    height: 25px;
    width: 25px;
    margin-top: -13px;
    background-color: #333;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

.first-departures-image-form-two {
    width: auto;
    max-width: 300px;
	vertical-align: bottom;
}

.first-departures-image-form-two label {
    font-size: 1.7vw;
    padding: 12px 12px 12px 0;
    display: inline-block;
}

.first-login-image {
    background-image: url("NYU_White_Bus-Passenger.jpg");
    background-repeat: no-repeat;
    text-align: center;
}

.first-login-image-form {
    width: 100%;
    max-width: 400px;
    text-align: left;
}

.form-container-single-column h1 {
    font-size: 28pt;
    margin: 6px 0;
    padding-bottom: 10px;
    border-top: none;
    border-bottom: 1px solid #888;
    text-align: center;
}

.form-container-single-column p {
    text-align: center;
}

.form-container-single-column .form-table {
    width: 100%;
}

.form-container-single-column .form-actions {
    text-align: center;
}

.first-login-image-form-two a {
    color: black;
    text-decoration: none;
}

.first-login-image-form-two a:hover {
    text-decoration: underline;
}

.first-reset-image {
    background-image: url("NYU_White_Bus-Passenger.jpg");
    background-repeat: no-repeat;
    text-align: center;
}

.first-reset-image-form {
    text-align: left;
    max-width: 600px;
}

.first-request-image {
    background-image: url("NYU_White_Bus-Passenger.jpg");
    background-repeat: no-repeat;
    text-align: center;
}

.first-request-image-form {
    text-align: left;
    max-width: 600px;
}

input[type=text], input[type=time], input[type=number], input[type=password], select, .custom-select > .select-selected {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 3px solid #ccc;
    transition: 0.5s;
    outline: none;
}

input {
    font-size: 1.5vw;
}

.custom-select > .select-selected {
    padding-right: 30px;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.first-account-image {
    background-image: url("NYU_White_Bus-Passenger.jpg");
    background-repeat: no-repeat;
    
    display: block;
    
    border: 0;
    
    margin: 0;
    padding: 0;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    max-width: 100%;
    height: 100%;
    
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    
    background-position: contain;
    position: relative;
}

.first-account-image-form {
    position: absolute;
    top: 1%;
    left: 27%;
    
    border-radius: 25px;
    padding: 25px;
    
    width: 40vw;
    height: 91vh;
    
    background: #FFFFFF;
    opacity: 0.9;
}

.first-account-image-form p {
    font-size: 1.5vw;
}

.first-account-image-form h1 {
    font-size: 3vw;
    margin-top: 6px;
    margin-bottom: 6px;
}

.first-account-image-form h2 {
    font-size: 2vw;
    margin-top: 6px;
    margin-bottom: 6px;
}

.first-account-image-form button {
    font-size: 1.5vw;
    
    float: right;
    background-color: #333;
    
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
}

.first-logout-image {
    background-image: url("NYU_White_Bus-Driver.jpg");
    background-repeat: no-repeat;
    
    display: block;
    
    border: 0;
    
    margin: 0;
    padding: 0;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    max-width: 100%;
    height: 100%;
    
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    
    background-position: contain;
    position: relative;
}

.first-logout-image-text {
    line-height: 1.8;
    text-align: center;
    
    position: absolute;
    top: 34%;
    left: 3.6%;
    
    color: white;
}

.first-logout-image-text h1 {
    font-size: 3.2vw;
}

.first-logout-image-text h2 {
    font-size: 2.2vw;
}

.embed {
    position: relative;
}

.embed__item {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    top: 0;
}

.embed--16by9 {
    padding-top: 56.25%;
}

.text {
    padding: 50px;
}

.text a {
    color: black;
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}

.text li {
    font-size: 2vw;
}

.responsive {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.first-terms-image {
    background-image: url("NYU_White_Bus-Sunny.jpg");
    background-repeat: no-repeat;
    
    display: block;
    
    border: 0;
    
    margin: 0;
    padding: 0;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    max-width: 100%;
    height: 100%;
    
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    
    background-position: contain;
    position: relative;
}

.first-terms-image-text {
    line-height: 1;
    text-align: center;
    
    position: absolute;
    top: 36%;
    left: 3.6%;
    
    color: white;
}

.first-terms-image-text h1 {
    font-size: 3.2vw;
}

.first-terms-image-text h2 {
    font-size: 2.2vw;
}

.first-privacy-image {
    background-image: url("NYU_White_Bus-Fire_Hydrant.jpg");
    background-repeat: no-repeat;
    
    display: block;
    
    border: 0;
    
    margin: 0;
    padding: 0;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    max-width: 100%;
    height: 100%;
    
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    
    background-position: contain;
    position: relative;
}

.first-privacy-image-text {
    line-height: 1;
    text-align: center;
    
    position: absolute;
    top: 36%;
    left: 3.6%;
    
    color: white;
}

.first-privacy-image-text h1 {
    font-size: 3.2vw;
}

.first-privacy-image-text h2 {
    font-size: 2.2vw;
}

.first-error-404-image {
    background-image: url("NYU_White_Bus-Not_in_Service.jpg");
    background-repeat: no-repeat;
    
    display: block;
    
    border: 0;
    
    margin: 0;
    padding: 0;
    
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    max-width: 100%;
    height: 100%;
    
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;
    
    background-position: contain;
    position: relative;
}

.first-error-404-image-text {
    line-height: 1;
    text-align: center;
    
    position: absolute;
    top: 36%;
    left: 3.6%;
    
    color: white;
}

.first-error-404-image-text h1 {
    font-size: 3.2vw;
}

.first-error-404-image-text h2 {
    font-size: 2.2vw;
}

.footer-one {
    left: 0;
    bottom: 0;
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    background-color: #583285;
    
    font-size: 2vw;
    
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

.main-container {
    float: left;
    position: relative;
    left: 50%;
}

.fixer-container {
    float: left;
    position: relative;
    left: -50%;
}

.footer-two {
    left: 0;
    bottom: 0;
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    overflow: hidden;
    background-color: #583285;
    
    font-size: 2vw;
    
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

#select_day + .select-selected {
    width: 8em;
}

#select-orig + .select-selected {
    width: 150px;
}

#output {
    background: #fff5ee;
    padding: 0 0 1px;
    margin: 0 0 -1px;
}

#output * {
    font-size: 11pt;
}

#output > h1, #output > p {
    background: #57068c;
    color: #fff;
    margin: 0 0 15px;
    padding: 10px;
}

#output > h1 {
    font-size: 32pt;
    font-weight: normal;
}

#output > ol, #output > ul {
    margin: 0;
    padding: 0;
}

#output > * > li {
    list-style-type: none;
    background: #fdd9b5;
    border-radius: 25px;
    margin: 0 10px 25px;
    padding: 10px 25px 25px;
    font-size: 28pt;
}

#output > * > li > ol, #output > * > li > ul {
    background: #fff;
    padding: 15px 50px;
    margin: 10px -25px -25px;
    border-radius: 25px;
}

#output > * > li > * > li, #output > * > li > * > li > * {
    font-size: 16pt;
    margin: 10px 0;
}

#output .itinerary-time {
    font-weight: bold;
    background: #eef;
    color: #000;
}

#output .itinerary-node {
    background: #efe;
    color: #000;
}
