h1 {
	font-family: "Avenir";
	font-size: 10vw;
}

h2 {
	font-family: "Avenir";
	font-size: 3vw;
}
p {
	font-family: "Avenir";
	font-size: 2vw;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #583285;

    font-family: "Avenir";
	font-size: 2vw;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #280038;
}

.active {
    background-color: #9d00e4;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.first-home-image {
    background-image: url("NYU Brooklyn Bus.png");
    background-repeat: no-repeat;
    
    display: block;

    border: 0;

    margin: 0;
    padding: 0;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    height: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;

    background-position: contain;
    position: relative;
}

.first-home-image-text {
    line-height: 0.8;
    text-align: center;

    position: absolute;
    top: 42%;
    left: 3.6%;

    color: white;
}

.first-home-image-text h1 {
	font-family: "Avenir";
	font-size: 3.2vw;
}

.first-home-image-text h2 {
	font-family: "Avenir";
	font-size: 1.6vw;
}

.first-home-image-text button {
    display: inline-block;
    border-radius: 4px;
    background-color: #FFFFFF;
    border: none;
    color: #000000;
    text-align: center;
    font-family: "Avenir";
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.first-home-image-text button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.first-home-image-text button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.first-home-image-text button:hover span {
    padding-right: 25px;
}

.first-home-image-text button:hover span:after {
    opacity: 1;
    right: 0;
}

.second-home-image {
    background-image: url("Data ABCEFG on Map.png");
    background-repeat: no-repeat;
    
    display: block;

    border: 0;

    margin: 0;
    padding: 0;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    height: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;

    background-position: contain;
    position: relative;
}

.second-home-image-form {
    position: absolute;
    top: 1%;
    left: 3%;

    border-radius: 25px;
    padding: 25px;

    width: 48vw;
    height: 91vh;

    background: #FFFFFF;
    opacity: 0.8;
}

.second-home-image-form p {
    font-family: "Avenir";
    font-size: 1.5vw;
}

.second-home-image-form h1 {
    font-family: "Avenir";
    font-size: 1.5vw;
    margin-top: 6px;
    margin-bottom: 6px;
    float: middle;
}

.second-home-image-form label {
	font-family: "Avenir";
    font-size: 1.7vw;
	padding: 12px 12px 12px 0;
    display: inline-block;
}

.col-7 {
    float: left;
    width: 7%;
    margin-top: 6px;
}

.col-18 {
    float: left;
    width: 18%;
    margin-top: 6px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-50 {
    float: left;
    width: 50%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

.col-87 {
    float: left;
    width: 87%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-7, .co1-18, .col-25, .col-50, .col-75, .col-87, input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

/*the container must be positioned relative:*/
.custom-select {
  position: relative;
  font-family: "Avenir";
  font-size: 1.5vw;
}
.custom-select select {
  display: none; /*hide original SELECT element:*/
}
.select-selected {
  background-color: #FFFFFF;
  opacity: 0.8;
}
/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 20px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #000000 transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #000000 transparent;
  top: 10px;
}
/*style the items (options), including the selected item:*/
.select-items div {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: #333;
  cursor: pointer;
  user-select: none;
  color: #FFFFFF;
}
/*style the items (options), including the selected item:*/
.select-selected {
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: #333;
  cursor: pointer;
  user-select: none;
  color: black;
}
/*style items (options):*/
.select-items {
  position: absolute;
  background-color: #333;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}
.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.second-home-image-form button {
	font-family: "Avenir";
	font-size: 1.5vw;

	float: right;
	background-color: #333;

    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 6px 4px;
    cursor: pointer;
}

/* The container */
.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #333;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #333;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

.first-logout-image {
    background-image: url("NYU White Bus - Driver.png");
    background-repeat: no-repeat;
    
    display: block;

    border: 0;

    margin: 0;
    padding: 0;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    height: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;

    background-position: contain;
    position: relative;
}

.first-logout-image-text {
    line-height: 1.8;
    text-align: center;

    position: absolute;
    top: 40%;
    left: 3.6%;

    color: white;
}

.first-logout-image-text h1 {
  font-family: "Avenir";
  font-size: 3.2vw;
}

.first-logout-image-text h2 {
  font-family: "Avenir";
  font-size: 2.2vw;
}

.first-error-404-image {
    background-image: url("NYU White Bus - Not in Service.png");
    background-repeat: no-repeat;
    
    display: block;

    border: 0;

    margin: 0;
    padding: 0;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    max-width: 100%;
    height: 100%;

    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: cover;

    background-position: contain;
    position: relative;
}

.first-error-404-image-text {
    line-height: 1;
    text-align: center;

    position: absolute;
    top: 36%;
    left: 3.6%;

    color: white;
}

.first-error-404-image-text h1 {
  font-family: "Avenir";
  font-size: 3.2vw;
}

.first-error-404-image-text h2 {
  font-family: "Avenir";
  font-size: 2.2vw;
}

.footer-one {
  left: 0;
   bottom: 0;
   width: 100%;

   margin: 0;
   padding: 0;

   overflow: hidden;
   background-color: #583285;

   font-family: "Avenir";
   font-size: 2vw;

   float: left;
   display: block;
   color: white;
   text-align: center;
   text-decoration: none;
}

.main-container {
  float: left;
  position: relative;
  left: 50%;
}

.fixer-container {
  float: left;
  position: relative;
  left: -50%;
}

.footer-two {
   left: 0;
   bottom: 0;
   width: 100%;

   margin: 0;
   padding: 0;

   overflow: hidden;
   background-color: #583285;

   font-family: "Avenir";
   font-size: 2vw;

   float: left;
   display: block;
   color: white;
   text-align: center;
   text-decoration: none;
}